<div style="align-content: center;color: white;background-color:#3b1212;position: absolute;width: 100%;height: 100%;">

  <h1 style="align-content: center;font-size: 40px;left:1000px;top:300px;position: relative;">[Enter only<br> the informations<br> that has to be<br> updated]</h1>
  <label style="position: relative;font-size: 40px;top:-10px;">Name:</label><input type="text" style="font-size: 40px;position: relative;top:-10px;left:258px;" id="tt1" placeholder="" />
  <br>
  <label style="position: relative;font-size: 40px;top:10px;">Age:</label><input type="text" style="font-size: 40px;position: relative;top:10px;left:288px;" id="tt2" placeholder="" />
  <br>
  <label style="position: relative;font-size: 40px;top:30px;">UserName:</label><input type="text" value="" style="font-size: 40px;position: relative;top:30px;left:186px;" id="tt3" placeholder="" />
  <br>
  <label style="position: relative;font-size: 40px;top:50px;">New Password</label><input type="password" value="" style="font-size: 40px;position: relative;top:50px;left:130px;" id="tt5" placeholder="" />
  <br>
  <label style="position: relative;font-size: 40px;top:180px;">Old Password</label><input type="password" value="" style="font-size: 40px;position: relative;top:180px;left:145px;" id="tt4" placeholder="" />
  <p style="font-size:15px;position: relative;top:180px;left:700px;">Enter the previous password</p>
  <br>
  <button style="position: relative;left:420px;top:200px;font-size: 30px; " (click)="Proceed()">Update</button>

  </div>
  